* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: auto;
}

// MIXIN & ROOT
$firstColor: black;
$secondColor: azure;
$thirdColor: cadetblue;

@mixin flex ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
}

// NAVBAR
.presentSite {
    .navbar {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 88%;
        height: 93px;
        padding: 10px;
        @include flex (row);
        align-items: center;
        border-radius: 40px;
        background-color: rgb(46, 44, 44);
        justify-content: space-between;
        .navbar-brand {
            .img-fluid {
                height: 90px;
                margin-left: 10px;
            }
        }
        #btnBars {
            display: none;
            font-size: 1.6em;
            color: $secondColor;
            border: transparent;
            background: transparent;
            transition: all 0.25ms ease;
            &:hover {
                transform: rotate(90deg);
            }
        }
        .navbar-nav {
            margin-left: 25px;
            align-items: center;
            column-gap: 25px;
            .nav-item {
                .nav-link {
                    color: $secondColor;
                    font-family: KGBlankSpaceSolid;
                }
            }
            form {
                input {
                    width: 70%;
                    font-family: KGBlankSpaceSolid;
                }
                #btnSearch {
                    height: 30px;
                    background: transparent;
                    border: 2px solid $secondColor;
                    .fa-solid {
                        color: $secondColor;
                        &:hover {
                            color: $firstColor;
                        }
                    }
                    &:hover {
                        background-color: $secondColor;
                    }
                }
            }
        }
    }
}

// SHOW 
.present {
    height: 910px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background: url('../src/picts/wellifeBackground.png');
    .contain {
        position: relative;
        top: 30%;
        .row {
            .col-lg-4 {
                .updateLife {
                    text-align: center;
                    font-size: 1.8em;
                    font-weight: bold;
                    margin-right: 10px;
                    font-family: libelSuitRg;
                }
                .moreEnergy {
                    text-align: center;
                    font-size: 1.6em;
                    margin-right: 35px;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .listProfil {
                    form {
                        text-align: center;
                        input {
                            width: 33%;
                            margin-right: 15px;
                            margin-left: 15px;
                        }
                    }
                    #btnSend {
                        width: 19%;
                        display: block;
                        margin: 15px auto;
                        border-radius: 40px;
                        transition: all 0.25ms ease;
                        border: 2px solid $firstColor;
                        font-family: KGBlankSpaceSolid;
                        background-color: rgb(248, 155, 33);
                        &:hover {
                            color: $secondColor;
                        }
                        &:active {
                            transform: translateY(10px);
                        }
                    }
                }
            }
        }
    }
}

// GOAL 
.goal {
    color: $secondColor;
    position: absolute;
    top: 103%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    border-radius: 40px;
    background-color: $thirdColor;
    border: 1px solid $secondColor;
    .goalHead {
        text-align: center;
        p {
            margin: 10px auto;
            font-size: 1.8em;
            font-weight: bold;
        }
        hr {
            width: 25%;
            display: block;
            margin: auto;
            color: $firstColor;
            border: 3px solid $firstColor;
        }
    }
    .goalBody {
        padding: 5px;
        margin: 20px auto;
        text-align: center;
        .row {
            .col-lg-4 {
                .fa-solid {
                    font-size: 3.5em;
                }
                p {
                    font-size: 1.4em;
                    margin-top: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}

// BEGIN
.begin {
    margin-top: 320px;
    margin-bottom: 180px;
    .row {
        .col-lg-4 {
            text-align: center;
            .beginDiet {
                font-size: 1.7em;
                font-family: libelSuitRg;
            }
            #btnBegin {
                width: auto;
                display: block;
                margin: 10px auto;
                border-radius: 40px;
                transition: all 0.25ms ease;
                border: 2px solid $firstColor;
                font-family: KGBlankSpaceSolid;
                background-color: rgb(248, 155, 33);
                &:active {
                    transform: translateY(10px);
                }
                a {
                    color: $firstColor;
                    text-decoration: none;
                    &:hover {
                        color: $secondColor;
                    }
                }
            }
        }
        .col-lg-8 {
            .img-fluid {
                height: 350px;
                margin-top: -90px;
            }
        }
    }
}

// ADVICE 
.advice {
    height: 500px;
    margin-top: -120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../src/picts/foodsBackground_cleanup.jpg');
    .containAdvice {
        position: relative;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            font-size: 1.6em;
            text-align: center;
            font-weight: bold;
            color: $secondColor;
            text-shadow: 2px 0px 8px #1C6EA4;
        }
        .listAdvice {
            .row {
                margin: 20px auto;
                .col-lg-4 {
                    .card {
                        background-color: $thirdColor;
                        .rule {
                            .fa-solid {
                                font-size: 2.0em;
                                display: block;
                                text-align: center;
                                position: relative;
                                top: 50%;
                                left: 50%;
                                margin-top: -30px;
                                transform: translate(-50%, 100%);
                                &:hover {
                                    color: $secondColor;
                                }
                                .fa-circle-plus {
                                    font-size: 2.0em;
                                }
                            }
                        }
                        .points {
                            margin-top: 50px;
                            margin-bottom: -25px;
                            .strongPoints {
                                text-align: center;
                                .strong {
                                    font-size: 1.4em;
                                    margin-right: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// FOOTER
.footer {
    margin-top: -54px;
    align-items: center;
    @include flex (row);
    justify-content: space-between;
     .socialMedia {
        a {
            font-size: 1.5em;
            column-gap: 40px;
            margin-right: 15px;
            margin-left: 15px;
            color: $secondColor;
            text-decoration: none;
            text-shadow: 2px 0px 8px #1C6EA4;
        }
     }
     .copyrigth {
        font-size: 1.6em;
        color: $secondColor;
        font-family: KGBlankSpaceSolid;
        text-shadow: 2px 0px 8px #1C6EA4;
     }
     #btnContact {
        width: auto;
        margin-right: 20px;
        border-radius: 40px;
        transition: all 0.25ms ease;
        border: 2px solid $firstColor;
        font-family: KGBlankSpaceSolid;
        background-color: rgb(248, 155, 33);
        &:active {
            transform: translateY(10px);
        }
        a {
            color: $firstColor;
            text-decoration: none;
            &:hover {
                color: $secondColor;
            }
        }
        &:hover {
            color: $secondColor;
        }
     }
}

// CONTACT
#contact {
    background: url('../src/picts/foodsBackground_cleanup.jpg');
    .modal-dialog {
        .modal-content {
            opacity: 0.9;
            background: $thirdColor;
            #btnCloseContact {
                position: relative;
                top: 3%;
                left: 46%;
                cursor: pointer;
                font-size: 1.4em;
                color: $secondColor;
                border: transparent;
                background: transparent;
            }
            .modal-body {
                margin-top: -20px;
                h3 {
                    text-align: center;
                    color: $secondColor;
                    margin-bottom: 16px;
                    letter-spacing: 3px;
                    font-family: libelSuitRg;
                }
                form {
                    color: $firstColor;
                    text-align: center;
                    margin-bottom: -10px;
                    input {
                        width: 35%;
                        color: $firstColor;
                        margin-right: 15px;
                        margin-left: 15px;
                        text-align: center;
                    }
                    textarea {
                        width: 77%;
                        text-align: center;
                        margin: 20px auto;
                        color: $firstColor;
                    }
                }
            }
            #btnSend {
                display: block;
                margin: auto;
                padding: 7px;
                font-size: 0.7em;
                letter-spacing: 2px;
                color: $firstColor;
                background: transparent;
                transition: all 0.25ms ease;
                border: 3px solid $firstColor;
                font-family: KGBlankSpaceSolid;
                &:hover {
                    background: $secondColor;
                }
                &:active {
                    transform: translateY(20%);
                }
            }
        }
    }
}

// OFFCANVAS
.offcanvas {
    height: 225px;
    width: 100%;
    max-width: 250px;
    border-radius: 0px 0px 0px 40px;
    background-color: rgb(46, 44, 44);
    .offcanvas-body {
        border-radius: 0px 0px 0px 40px;
        border: 1px solid $secondColor;
        background-color: rgb(46, 44, 44);
        #btnCloseMoove {
            position: relative;
            top: -10%;
            left: 90%;
            font-size: 1.8em;
            color: $secondColor;
            border: transparent;
            background: transparent
        }
        .containNav {
            text-align: center;
            line-height: 28px;
            margin-top: -42px;
            .navbar-nav {
                margin: 10px auto;
                .nav-item {
                    .nav-link {
                        font-size: 1.3em;
                        color: $secondColor;
                        font-family: KGBlankSpaceSolid;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
            form {
                margin: 6px auto;
                justify-content: center;
                @include flex (row);
                input {
                    width: 55%;
                    font-family: KGBlankSpaceSolid;
                }
                #btnSearch {
                    height: 33px;
                    background: transparent;
                    border: 2px solid $secondColor;
                    .fa-solid {
                        color: $secondColor;
                        &:hover {
                            color: $firstColor;
                        }
                    }
                    &:hover {
                        background-color: $secondColor;
                    }
                }
            }
        }
    }
}

// FONTS
@font-face {
    font-family: BisonBold;
    src: url('../src/fonts/BisonBold.ttf');
}

@font-face {
    font-family: libelSuitRg;
    src: url('../src/fonts/libelSuitRg.otf');
}

@font-face {
    font-family: KGBlankSpaceSolid;
    src: url('../src/fonts/KGBlankSpaceSolid.ttf');
}

// MEDIA QUERRY
@media screen and (max-width: 1477px) {
    .present {
    .contain {
        .row {
            .col-lg-4 {
                .listProfil {
                    #btnSend {
                        width: auto;
                    }
                }
            }
        }
    }
}
    .begin {
        margin-top: 260px;
    }
}

@media screen and (max-width: 1044px) {
    .present {
        .contain {
            .row {
                margin-right: 0px;
                .col-lg-4 {
                    .updateLife {
                        color: $secondColor;
                        text-shadow: 2px 0px 8px #1C6EA4;
                    }
                    .moreEnergy {
                        color: $secondColor;
                        text-shadow: 2px 0px 8px #1C6EA4;
                    }
                    .listProfil {
                        #btnSend {
                            width: 55%;
                        }
                    }
                }
            }
        }
    }
    .goal {
        top: 115%;
    }
    .begin {
        margin-top: 320px;
        margin-bottom: 160px;
    }   
    .advice {
        height: 625px;
        .containAdvice {
            top: 45%;
        }
    }
    .footer {
        .socialMedia {
            margin-left: 10px;
        }
        #btnContact {
            width: auto;
        }
    }
}

@media screen and (max-width: 992px) {
    .presentSite {
        .navbar {
            #btnBars {
                display: block;
            }
            .navbar-nav {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .presentSite {
        .navbar {
            width: 92%;
            height: 90px;
            padding: 0px;
            .navbar-brand {
                .img-fluid {
                    margin-top: -6px;
                }
            }
            #btnBars {
                margin-right: 16px;
            }
        }
    }
    .present {
        opacity: 0.8;
        .contain {
            .row {
                .col-lg-4 {
                    .updateLife {
                        font-size: 2.2em;
                        color: $secondColor;
                        text-shadow: 2px 0px 8px #1C6EA4;
                    }
                    .moreEnergy {
                        margin-top: 30px;
                        color: $secondColor;
                        text-shadow: 2px 0px 2px #1C6EA4;
                    }
                    .listProfil {
                        margin-top: 30px;
                        #btnSend {
                            width: 12%;
                            margin-top: 15px;
                            font-size: 1.0em;
                        }
                    }
                }
            }
        }
    }  
    .begin {
        margin: 180px auto;
        .row {
            .col-lg-4 {
                margin-bottom: 110px;
                #btnBegin {
                    width: auto;
                }
            }
        }
    }   
    .themCoach {
        margin-top: -160px;
        .card {
            width: 70%;
            .card-body {
                .col-lg-8 {
                    .nameCoach {
                        text-align: center;
                    }
                    .describeCoach {
                        text-align: center;
                    }
                }
            }
        }
    }  
}

@media screen and (max-width: 768px) {
    .goal {
        top: 98%;
        width: 62%;
        margin: 20px auto;
        .goalBody {
            margin: 15px auto;
        }
    }
    .begin {
        margin-top: 220px;
        margin-bottom: -10px;
        .row {
            .col-lg-8 {
                .img-fluid {
                    height: 320px;
                    margin-bottom: 210px;
                }
            }
        }
    }
    .advice {
        height: 510px;
        margin-top: -150px;
        .containAdvice {
            top: 43%;
        }
        .listAdvice {
            .row {
                margin: -40px auto;
                .col-lg-4 {
                    .card {
                       .points {
                        .strongPoints {
                            overflow: auto;
                            @include flex (row);
                            .strong {
                                font-size: 0.7em;
                            }
                        }
                       }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .present {
        .contain {
            .row {
                .col-lg-4 {
                    .listProfil {
                        #btnSend {
                            width: 27%;
                        }
                    }
                }
            }
        }
    }
    .goal {
        top: 73%;
        transform: translate(-50%, 4%);
    }
    .begin {
        margin-top: 350px;
    }
    .advice {
        height: 950px;
        .listAdvice {
            .row {
                .col-lg-4 {
                    .card {
                        margin: 20px auto;
                    }
                }
            }
        }
    }
    .footer {
        margin-top: -94px;
    }
}

@media screen and (max-width: 375px) {
    .present {
        .contain {
            .row {
                .col-lg-4 {
                    .moreEnergy {
                        margin-right: -15px;
                    }
                    .listProfil {
                        #btnSend {
                            width: 27%;
                        }
                    }
                }
            }
        }
    }
    .goal {
        top: 84%;
        transform: translate(-50%, 4%);
    }
    .begin {
        margin-top: 495px;
    }
    .advice {
        height: 950px;
    }
}

@media screen and (max-width: 320px) {
    .present {
        .contain {
            .row {
                .col-lg-4 {
                    .moreEnergy {
                        margin-right: -15px;
                    }
                    .listProfil {
                        #btnSend {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
    .goal {
        top: 84%;
        transform: translate(-50%, 4%);
    }
    .begin {
        margin-top: 515px;
    }
    .advice {
        height: 950px;
    }
    .footer {
        margin-top: -134px;
    }
}