* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: auto;
}

.presentSite .navbar {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88%;
  height: 93px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 40px;
  background-color: rgb(46, 44, 44);
  justify-content: space-between;
}
.presentSite .navbar .navbar-brand .img-fluid {
  height: 90px;
  margin-left: 10px;
}
.presentSite .navbar #btnBars {
  display: none;
  font-size: 1.6em;
  color: azure;
  border: transparent;
  background: transparent;
  transition: all 0.25ms ease;
}
.presentSite .navbar #btnBars:hover {
  transform: rotate(90deg);
}
.presentSite .navbar .navbar-nav {
  margin-left: 25px;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.presentSite .navbar .navbar-nav .nav-item .nav-link {
  color: azure;
  font-family: KGBlankSpaceSolid;
}
.presentSite .navbar .navbar-nav form input {
  width: 70%;
  font-family: KGBlankSpaceSolid;
}
.presentSite .navbar .navbar-nav form #btnSearch {
  height: 30px;
  background: transparent;
  border: 2px solid azure;
}
.presentSite .navbar .navbar-nav form #btnSearch .fa-solid {
  color: azure;
}
.presentSite .navbar .navbar-nav form #btnSearch .fa-solid:hover {
  color: black;
}
.presentSite .navbar .navbar-nav form #btnSearch:hover {
  background-color: azure;
}

.present {
  height: 910px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background: url("../src/picts/wellifeBackground.png");
}
.present .contain {
  position: relative;
  top: 30%;
}
.present .contain .row .col-lg-4 .updateLife {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  margin-right: 10px;
  font-family: libelSuitRg;
}
.present .contain .row .col-lg-4 .moreEnergy {
  text-align: center;
  font-size: 1.6em;
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.present .contain .row .col-lg-4 .listProfil form {
  text-align: center;
}
.present .contain .row .col-lg-4 .listProfil form input {
  width: 33%;
  margin-right: 15px;
  margin-left: 15px;
}
.present .contain .row .col-lg-4 .listProfil #btnSend {
  width: 19%;
  display: block;
  margin: 15px auto;
  border-radius: 40px;
  transition: all 0.25ms ease;
  border: 2px solid black;
  font-family: KGBlankSpaceSolid;
  background-color: rgb(248, 155, 33);
}
.present .contain .row .col-lg-4 .listProfil #btnSend:hover {
  color: azure;
}
.present .contain .row .col-lg-4 .listProfil #btnSend:active {
  transform: translateY(10px);
}

.goal {
  color: azure;
  position: absolute;
  top: 103%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  border-radius: 40px;
  background-color: cadetblue;
  border: 1px solid azure;
}
.goal .goalHead {
  text-align: center;
}
.goal .goalHead p {
  margin: 10px auto;
  font-size: 1.8em;
  font-weight: bold;
}
.goal .goalHead hr {
  width: 25%;
  display: block;
  margin: auto;
  color: black;
  border: 3px solid black;
}
.goal .goalBody {
  padding: 5px;
  margin: 20px auto;
  text-align: center;
}
.goal .goalBody .row .col-lg-4 .fa-solid {
  font-size: 3.5em;
}
.goal .goalBody .row .col-lg-4 p {
  font-size: 1.4em;
  margin-top: 20px;
  font-weight: bold;
}

.begin {
  margin: 310px auto;
}
.begin .row .col-lg-4 {
  text-align: center;
}
.begin .row .col-lg-4 .beginDiet {
  font-size: 1.7em;
  font-family: libelSuitRg;
}
.begin .row .col-lg-4 #btnBegin {
  width: auto;
  display: block;
  margin: 10px auto;
  border-radius: 40px;
  transition: all 0.25ms ease;
  border: 2px solid black;
  font-family: KGBlankSpaceSolid;
  background-color: rgb(248, 155, 33);
}
.begin .row .col-lg-4 #btnBegin:active {
  transform: translateY(10px);
}
.begin .row .col-lg-4 #btnBegin a {
  color: black;
  text-decoration: none;
}
.begin .row .col-lg-4 #btnBegin a:hover {
  color: azure;
}
.begin .row .col-lg-8 .img-fluid {
  height: 350px;
  margin-top: -90px;
}

.themCoach {
  margin-top: -250px;
}
.themCoach .card {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
  padding: 10px;
  border-radius: 40px;
  border: 3px solid black;
  background-color: cadetblue;
}
.themCoach .card .card-body .containCoach .row .col-lg-4 .coach1 {
  height: 310px;
  border-radius: 40px;
  border: 1px solid black;
}
.themCoach .card .card-body .containCoach .row .col-lg-4 .coach2 {
  height: 230px;
  border-radius: 40px;
  border: 1px solid black;
}
.themCoach .card .card-body .containCoach .row .col-lg-4 .coach3 {
  height: 260px;
  border-radius: 40px;
  border: 1px solid black;
}
.themCoach .card .card-body .containCoach .row .col-lg-8 .nameCoach {
  font-size: 2em;
  color: azure;
  font-family: KGBlankSpaceSolid;
}
.themCoach .card .card-body .containCoach .row .col-lg-8 .describeCoach {
  font-size: 1.7em;
  color: azure;
  font-family: libelSuitRg;
}
.themCoach .card .card-body .containCoach .row .col-lg-8 .hrefCoach {
  text-align: center;
}
.themCoach .card .card-body .containCoach .row .col-lg-8 .hrefCoach a {
  font-size: 1.8em;
  color: azure;
  text-decoration: none;
  font-family: BisonBold;
}
.themCoach .card .card-body .containCoach .row .col-lg-8 .hrefCoach a:hover {
  color: rgb(248, 155, 33);
}
.themCoach .card .card-body .listCoach {
  margin-top: -27px;
  margin-bottom: -60px;
}
.themCoach .card .card-body .listCoach .row {
  text-align: center;
}
.themCoach .card .card-body .listCoach .row .col-lg-4 .coachLogo1, .themCoach .card .card-body .listCoach .row .col-lg-4 .coachLogo3 {
  opacity: 0.7;
  cursor: pointer;
  height: 140px;
  max-width: 200px;
}
.themCoach .card .card-body .listCoach .row .col-lg-4 .coachLogo1:hover, .themCoach .card .card-body .listCoach .row .col-lg-4 .coachLogo3:hover {
  opacity: 1;
}
.themCoach .card .card-body .listCoach .row .col-lg-4 .coachLogo2 {
  opacity: 0.7;
  cursor: pointer;
  height: 50px;
  max-width: 200px;
  margin-top: 45px;
}
.themCoach .card .card-body .listCoach .row .col-lg-4 .coachLogo2:hover {
  opacity: 1;
}

.advice {
  height: 600px;
  margin-top: -120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../src/picts/foodsBackground_cleanup.jpg");
}
.advice .containAdvice {
  position: relative;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.advice .containAdvice p {
  font-size: 1.6em;
  text-align: center;
  font-weight: bold;
  color: azure;
  text-shadow: 2px 0px 8px #1C6EA4;
}
.advice .containAdvice .listAdvice .row {
  margin: 20px auto;
}
.advice .containAdvice .listAdvice .row .col-lg-4 .card {
  background-color: cadetblue;
}
.advice .containAdvice .listAdvice .row .col-lg-4 .card .rule .fa-solid {
  font-size: 2em;
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  transform: translate(-50%, 100%);
}
.advice .containAdvice .listAdvice .row .col-lg-4 .card .rule .fa-solid:hover {
  color: azure;
}
.advice .containAdvice .listAdvice .row .col-lg-4 .card .rule .fa-solid .fa-circle-plus {
  font-size: 2em;
}
.advice .containAdvice .listAdvice .row .col-lg-4 .card .points {
  margin-top: 50px;
  margin-bottom: -25px;
}
.advice .containAdvice .listAdvice .row .col-lg-4 .card .points .strongPoints {
  text-align: center;
  list-style-type: none;
}
.advice .containAdvice .listAdvice .row .col-lg-4 .card .points .strongPoints li {
  font-size: 1.5em;
  margin-right: 25px;
}

.footer {
  margin-top: -54px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .socialMedia a {
  font-size: 1.5em;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-right: 15px;
  margin-left: 15px;
  color: azure;
  text-decoration: none;
  text-shadow: 2px 0px 8px #1C6EA4;
}
.footer .copyrigth {
  font-size: 1.6em;
  color: azure;
  font-family: KGBlankSpaceSolid;
  text-shadow: 2px 0px 8px #1C6EA4;
}
.footer #btnContact {
  width: auto;
  margin-right: 20px;
  border-radius: 40px;
  transition: all 0.25ms ease;
  border: 2px solid black;
  font-family: KGBlankSpaceSolid;
  background-color: rgb(248, 155, 33);
}
.footer #btnContact:active {
  transform: translateY(10px);
}
.footer #btnContact a {
  color: black;
  text-decoration: none;
}
.footer #btnContact a:hover {
  color: azure;
}
.footer #btnContact:hover {
  color: azure;
}

#contact {
  background: url("../src/picts/foodsBackground_cleanup.jpg");
}
#contact .modal-dialog .modal-content {
  opacity: 0.9;
  background: cadetblue;
}
#contact .modal-dialog .modal-content #btnCloseContact {
  position: relative;
  top: 3%;
  left: 46%;
  cursor: pointer;
  font-size: 1.4em;
  color: azure;
  border: transparent;
  background: transparent;
}
#contact .modal-dialog .modal-content .modal-body {
  margin-top: -20px;
}
#contact .modal-dialog .modal-content .modal-body h3 {
  text-align: center;
  color: azure;
  margin-bottom: 16px;
  letter-spacing: 3px;
  font-family: libelSuitRg;
}
#contact .modal-dialog .modal-content .modal-body form {
  color: black;
  text-align: center;
  margin-bottom: -10px;
}
#contact .modal-dialog .modal-content .modal-body form input {
  width: 35%;
  color: black;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
}
#contact .modal-dialog .modal-content .modal-body form textarea {
  width: 77%;
  text-align: center;
  margin: 20px auto;
  color: black;
}
#contact .modal-dialog .modal-content #btnSend {
  display: block;
  margin: auto;
  padding: 7px;
  font-size: 0.7em;
  letter-spacing: 2px;
  color: black;
  background: transparent;
  transition: all 0.25ms ease;
  border: 3px solid black;
  font-family: KGBlankSpaceSolid;
}
#contact .modal-dialog .modal-content #btnSend:hover {
  background: azure;
}
#contact .modal-dialog .modal-content #btnSend:active {
  transform: translateY(20%);
}

.offcanvas {
  height: 225px;
  width: 100%;
  max-width: 250px;
  border-radius: 0px 0px 0px 40px;
  background-color: rgb(46, 44, 44);
}
.offcanvas .offcanvas-body {
  border-radius: 0px 0px 0px 40px;
  border: 1px solid azure;
  background-color: rgb(46, 44, 44);
}
.offcanvas .offcanvas-body #btnCloseMoove {
  position: relative;
  top: -10%;
  left: 90%;
  font-size: 1.8em;
  color: azure;
  border: transparent;
  background: transparent;
}
.offcanvas .offcanvas-body .containNav {
  text-align: center;
  line-height: 28px;
  margin-top: -42px;
}
.offcanvas .offcanvas-body .containNav .navbar-nav {
  margin: 10px auto;
}
.offcanvas .offcanvas-body .containNav .navbar-nav .nav-item .nav-link {
  font-size: 1.3em;
  color: azure;
  font-family: KGBlankSpaceSolid;
}
.offcanvas .offcanvas-body .containNav .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.7;
}
.offcanvas .offcanvas-body .containNav form {
  margin: 6px auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.offcanvas .offcanvas-body .containNav form input {
  width: 55%;
  font-family: KGBlankSpaceSolid;
}
.offcanvas .offcanvas-body .containNav form #btnSearch {
  height: 33px;
  background: transparent;
  border: 2px solid azure;
}
.offcanvas .offcanvas-body .containNav form #btnSearch .fa-solid {
  color: azure;
}
.offcanvas .offcanvas-body .containNav form #btnSearch .fa-solid:hover {
  color: black;
}
.offcanvas .offcanvas-body .containNav form #btnSearch:hover {
  background-color: azure;
}

@font-face {
  font-family: BisonBold;
  src: url("../src/fonts/BisonBold.ttf");
}
@font-face {
  font-family: libelSuitRg;
  src: url("../src/fonts/libelSuitRg.otf");
}
@font-face {
  font-family: KGBlankSpaceSolid;
  src: url("../src/fonts/KGBlankSpaceSolid.ttf");
}
@media screen and (max-width: 1044px) {
  .present .contain .row {
    margin-right: 0px;
  }
  .present .contain .row .col-lg-4 .updateLife {
    color: azure;
    text-shadow: 2px 0px 8px #1C6EA4;
  }
  .present .contain .row .col-lg-4 .moreEnergy {
    color: azure;
    text-shadow: 2px 0px 8px #1C6EA4;
  }
  .present .contain .row .col-lg-4 .listProfil #btnSend {
    width: 55%;
  }
  .goal {
    top: 140%;
  }
  .begin .row .col-lg-4 #btnBegin {
    width: 50%;
  }
  .footer .socialMedia {
    margin-left: 10px;
  }
  .footer #btnContact {
    width: auto;
  }
}
@media screen and (max-width: 992px) {
  .presentSite .navbar #btnBars {
    display: block;
  }
  .presentSite .navbar .navbar-nav {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .presentSite .navbar {
    width: 92%;
    height: 90px;
    padding: 0px;
  }
  .presentSite .navbar .navbar-brand .img-fluid {
    margin-top: -6px;
  }
  .presentSite .navbar #btnBars {
    margin-right: 16px;
  }
  .present {
    opacity: 0.8;
  }
  .present .contain .row .col-lg-4 .updateLife {
    font-size: 2.2em;
    color: azure;
    text-shadow: 2px 0px 8px #1C6EA4;
  }
  .present .contain .row .col-lg-4 .moreEnergy {
    margin-top: 30px;
    color: azure;
    text-shadow: 2px 0px 2px #1C6EA4;
  }
  .present .contain .row .col-lg-4 .listProfil {
    margin-top: 30px;
  }
  .present .contain .row .col-lg-4 .listProfil #btnSend {
    width: 12%;
    margin-top: 15px;
    font-size: 1em;
  }
  .begin {
    margin: 180px auto;
  }
  .begin .row .col-lg-4 {
    margin-bottom: 110px;
  }
  .begin .row .col-lg-4 #btnBegin {
    width: auto;
  }
  .themCoach {
    margin-top: -160px;
  }
  .themCoach .card {
    width: 70%;
  }
  .themCoach .card .card-body .col-lg-8 .nameCoach {
    text-align: center;
  }
  .themCoach .card .card-body .col-lg-8 .describeCoach {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .goal {
    width: 62%;
    margin: 20px auto;
  }
  .goal .goalBody {
    margin: 15px auto;
  }
  .begin {
    margin: 275px auto;
  }
  .themCoach {
    margin-top: -230px;
  }
  .advice {
    height: 710px;
  }
  .advice .containAdvice {
    top: 53%;
  }
  .advice .listAdvice .row .col-lg-4 .card {
    width: 100%;
    height: auto;
    max-width: 55%;
    margin: 15px auto;
  }
}
@media screen and (max-width: 737px) {
  .present .contain .row .col-lg-4 .updateLife {
    margin-right: -5px;
  }
  .present .contain .row .col-lg-4 .moreEnergy {
    margin-right: -30px;
  }
  .begin {
    margin: 320px auto;
  }
  .goal {
    top: 145%;
  }
  .themCoach {
    margin-top: -270px;
  }
}
@media screen and (max-width: 735px) {
  .advice .containAdvice {
    top: 55%;
  }
  .footer {
    margin-top: -45px;
  }
}
@media screen and (max-width: 648px) {
  .advice .listAdvice .row .col-lg-4 .card {
    max-width: 65%;
    margin: 15px auto;
  }
}
@media screen and (max-width: 637px) {
  .advice .containAdvice {
    top: 59%;
  }
}/*# sourceMappingURL=index.css.map */